<section id="bibs_search_results" class="subrecord-form-dummy">
  <h3><%= I18n.t("plugins.alma_integrations.record_types.#{@results['record_type']}") %> for <%= @results['id'] %> <%= @results['title'] %></h3>
  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      <div class="tabbable">
        <div class="tab-content">
          <% if results['aspace'].has_key?('error') %>
            <div class="search-error">
              <strong>Not found in ArchivesSpace:</strong> <%= results['aspace']['error'] %>
            </div>
          <% else %>
            <div class="search-success">
              <strong>Found in ArchivesSpace:</strong> <%= results['aspace']['success'] %>
            </div>
          <% end %>
          <% if results['alma'].has_key?('error') %>
            <div class="search-error">
              <strong>Not found in Alma:</strong> <%= results['alma']['error'] %>
            </div>
          <% else %>
            <div class="search-success">
              <strong>Found in Alma:</strong> <%= results['alma']['success'] %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4><%= I18n.t("plugins.alma_integrations.marc_headings.aspace") %></h4>
        <p class="help-block">
          <% preserved_fields = AppConfig.has_key?(:alma_marc_fields_to_preserve) ? AppConfig[:alma_marc_fields_to_preserve] : [] %>
          <%= I18n.t("plugins.alma_integrations.marc_headings.aspace_note") %>
          <% if preserved_fields.any? %>
            <%= I18n.t("plugins.alma_integrations.marc_headings.aspace_note_fields", :fields => preserved_fields.join(', ')) %>
          <% end %>
          <%= I18n.t("plugins.alma_integrations.marc_headings.aspace_note_config") %>
        </p>
        <div class="subrecord-form-fields notes-readonly">
          <div class="tabbable">
            <div class="tab-content">
              <% if results['aspace_marc'] %>
                <pre class="pre-scrollable"><code><%= results['aspace_marc'] %></code></pre>
              <% else %>
                <p><%= I18n.t("plugins.alma_integrations.errors.no_marc") %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4><%= I18n.t("plugins.alma_integrations.marc_headings.alma") %></h4>
        <div class="subrecord-form-fields notes-readonly">
          <div class="tabbable">
            <div class="tab-content">
              <% if results['alma_marc'] %>
                <pre class="pre-scrollable"><code><%= results['alma_marc'] %></code></pre>
              <% else %>
                <p><%= results['alma']['error'] %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render_aspace_partial :partial => "add_bibs_form", :locals => {:results => results} %>
  </div>
</section>
